.user {
    display: block;
    width: 100%;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    &:hover {
      background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-8)
      );
    }
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--mantine-font-size-xs);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs)
      var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    color: light-dark(
      var(--mantine-color-gray-7),
      var(--mantine-color-dark-0)
    );
    &:hover {
      background-color: var(--mantine-color-primary);
      color: var(--mantine-color-primary);
    }
}