

  mainLinkActive: {
    "&": {
      backgroundColor: theme.fn.variant({
        variant: "light",
        color: theme.primaryColor,
      }).background,
      color: theme.fn.variant({ variant: "light", color: theme.primaryColor })
        .color,
      [`& .${getStylesRef("icon")}`]: {
        color: theme.fn.variant({ variant: "light", color: theme.primaryColor })
          .color,
      },
    },
  },

  mainLinkInner: {
    display: "flex",
    alignItems: "center",
    flex: 1,
  },

  mainLinkIcon: {
    marginRight: theme.spacing.sm,
    color:
      theme.colorScheme === "dark"
        ? theme.colors.dark[2]
        : theme.colors.gray[6],
  },

  mainLinkBadge: {
    right: 0,
    padding: 0,
    width: rem(20),
    height: rem(20),
    pointerEvents: "none",
  },

  collections: {
    paddingLeft: `calc(${theme.spacing.md} - ${rem(6)})`,
    paddingRight: `calc(${theme.spacing.md} - ${rem(6)})`,
    paddingBottom: theme.spacing.md,
  },

  collectionsHeader: {
    paddingLeft: `calc(${theme.spacing.md} + ${rem(2)})`,
    paddingRight: theme.spacing.md,
    marginBottom: rem(6),
  },

  collectionLink: {
    display: "block",
    padding: `${rem(8)} ${theme.spacing.xs}`,
    textDecoration: "none",
    borderRadius: theme.radius.sm,
    fontSize: theme.fontSizes.xs,
    color:
      theme.colorScheme === "dark"
        ? theme.colors.dark[0]
        : theme.colors.gray[7],
    lineHeight: 1,
    fontWeight: 500,

    "&:hover": {
      backgroundColor:
        theme.colorScheme === "dark"
          ? theme.colors.dark[6]
          : theme.colors.gray[0],
      color: theme.colorScheme === "dark" ? theme.white : theme.black,
    },
  },
}));

.navbar {
  padding-top: 0;
}

.section {
  margin-left: calc(-1 * var(--mantine-space-md));
  margin-right: calc(-1 * var(--mantine-space-md));
  margin-bottom: var(--mantine-space-md);

  &:not(:last-of-type) {
    border-bottom: 1px solid light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-4)
    );
  }
}

.search-code {
  font-weight: 700;
  font-size: rem(10px);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  border: 1px solid light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-7)
  );
}

.user {
  display: block;
  width: 100%;
  padding: var(--mantine-space-md);
  color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-dark-0)
  );

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-8)
    );
  }
}

.main-links {
  padding-left: calc(var(--mantine-space-md) - var(--mantine-space-xs));
  padding-right: calc(var(--mantine-space-md) - var(--mantine-space-xs));
  padding-bottom: var(--mantine-space-md);
}

.main-link {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--mantine-font-size-xs);
  padding: rem(8px) var(--mantine-space-xs);
  padding-right: rem(12px);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(
      var(--mantine-color-black),
      var(--mantine-color-white)
    );
  }
}

.main-link-active {
  & {
    background-color: var(--mantine-color-primary);
    color: var(--mantine-color-primary);
    
  }
}